/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

/* common css */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
/* header css */

.header-style{
    height: 94px;
    background-color: #562EFF;
    display: flex;
    justify-content: center;
}
.header-style .navigation-bar, .container{
    width: 870px;
}
.header-style .navigation-bar .logo img{
    width: 40px;
    height: 51px;
}
.navigation-bar .logo{
    display: flex;
    align-items: center;
}
.logo .logo-text{
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    padding-left: 15px;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    display: flex;
    align-items: center;
}
.navigation-bar .nav-link a{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding-right: 32px;
}
.profile-img-div a .profile-img{
    width: 51px;
    height: 51px;
}
/* player part css */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.players .player img{
    width: 56px;
    height: 56px;
}